table,
td {
  border: 1px solid black;
}

td {
  width: 50px;
  height: 50px;
}

table {
  margin-left: 500px;
  margin-top: -75px;
}

#player1Btn {
  margin-left: 500px;
  margin-top: 20px;
}

#player2Btn {
  margin-left: 50px;
}

#playAgain {
  margin-left: 50px;
}

#reset {
  margin-left: 140px;
}

h1 {
  margin-left: 660px;
}

#player1 {
  color: red;
}

#player2 {
  color: blue;
}

#scores {
  margin-right: 500px;
  font-size: 15px;
}

.p1Score {
  color: red;
}

.p2Score {
  margin-top: 20px;
  color: blue;
}

.die-image {
  margin-top: -500px;
}

.winText {
  color: black;
  margin-top: 30px;
}
